@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

:root {
    font-family: "Poppins", sans-serif;
    color-scheme: light dark;
    
}
@theme {
  --color-brand-green: hsl(136, 64%, 51%);
  --color-brand-cyan: hsl(192, 69%, 51%);
  --color-brand-grey600: hsl(233, 8%, 62%);
  --color-brand-gray100: hsl(220, 16%, 96%);
  --color-brand-gray50: hsl(0, 0%, 98%);
  --color-brand-white: hsl(0, 100%, 100%);
  --color-brand-blue : hsl(233, 26%, 24%)
}
/* *{
  box-sizing: border-box;
  overflow-x: hidden;
} */


